<div>
    <h1>{{greeting}}</h1>
    <button *ngIf="loggedIn" (click)="logout()">Logout</button>
</div>
<div *ngIf="!loggedIn">
    <form [formGroup]="loginForm">
        <label for="email"><b>Email</b></label>
        <input #emailField id="email" type="email" formControlName="email" email="true" required>
        <label for="password"><b>Password</b></label>
        <input #passwordField id="password" type="password" formControlName="password" required>
        <button (click)="login()">Login</button>
        <div id="loginMessage">{{loginMessage}}</div>
    </form>
</div>